html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}

main {
    width: 600px;
    margin: auto;
    text-align: center;
}

h1 {
    margin: 50px 0 30px;
}

article {
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    padding: 30px;
    margin: 20px 0;
    transition: 0.3 ease;
}

article div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article div h3 {
    margin: 0;
}

article div i {
    cursor: pointer;
}

article div i.close {
    display: none;
}

article p {
    display: none;
}

article.open {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

article.open div i.close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #9fa4a8;
    border-radius: 100%;
}

article.open div i.row {
    display: none;
}

article.open p {
    display: block;
    text-align: start;
}